body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.2em;
    font-weight: 300;
}

h1 {
    font-size: 1.8em;
}



#show {
    padding-top: 20px;
    background-image: url("images/resurrectionstreetministriesshowcase.jpg");
    height: 100vh;
    width: 100vw;

}

#showtext {
    padding-top: 20px;
    font-size: 2em;
    margin-top: 20px;
}

#showtext h1 {
    /*font-size: 2em;*/

}

.b-example-divider {
    height: 5em;
    background-color: rgb(80, 8, 8);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1),
        inset 0 .125em .5em rgba(0, 0, 0, .15);
}



#navs {

    background-color: rgb(80, 8, 8);
    /*position: absolute;*/
    padding-bottom: 0px;

}

.lt {
    color: white;
    font-weight: 600;
    line-height: 3.5;
}

#dark {
    background-color: rgb(80, 8, 8);

}

#sectdark {
    background-color: rgb(80, 8, 8);
    margin-top: 80px;
    padding: 60px 20% 20px;
    line-height: 2;
}

#sectdark h1 {
    font-size: 2.5em;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#sectdark p {
    /*font-size: 1.5em;*/
}

#secttwo {
    max-width: 100vw;
    height: 50vh;
}

.image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 130px;

}

#cfp {
    background-color: rgb(80, 8, 8);
}

#cfph {
    padding-bottom: 1em;
}

#serveimage {}

#rsmfp {
    /* top | horizontal | bottom */
    padding: 3em 0 1em;
    line-height: 2;


}

#rsmfp p {}


/* STUFF Thrift store Hero Slider section */

#myCarousel {
    padding-top: 80px;
}

#myCarousel img {
    height: 100vh;
    width: 100%;
    align-self: center;
}

/* STUFF Thrift store 2nd section */
#sts {
    margin-top: 0px;
    background-color: rgb(80, 8, 8);
}

#stscta {
    background-color: rgb(80, 8, 8);
}

.bg-darkred {
    background-color: rgb(80, 8, 8);
    padding-top: 80px;
}